* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gradient {
  background: white;
  background: linear-gradient(128deg, white 27%, #b2b3ff 52%, #0001ff 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0001ff",GradientType=1);
}

.h1, .h2ok {
  font-family: Arial, Helvetica, sans-serif;
}

.h2ok {
  background-color: #3673D9;
  text-align: center;
  padding: 1rem;
  color: white;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

.imagen {
  position: relative;
}

.imagen--titular {
  position: absolute;
  bottom: 15px;
  left: 300px;
}

.text-center {
  text-align: center;
}

.aside {
  background-color: cadetblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__item {
  list-style: none;
  color: aliceblue;
}

.header__item .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact {
  background-color: cadetblue;
}

.nuestrotaller {
  text-align: center;
  -webkit-text-decoration: blue;
          text-decoration: blue;
  background-color: darkgray;
  font-size: 2rem;
}

.mecanico {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mediaq {
  width: 250px;
  height: 300px;
}

.servicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  background-color: darkgray;
  font-size: 25px;
}

.servicios__medidas {
  text-align: center;
  border: aliceblue;
  margin: 5px 5px 5px 5px;
}

.servicios__detalle {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: darkgray;
  text-align: center;
  text-justify: auto;
  border: solid;
  border-color: blue;
}

.publi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.loquehacemos {
  border: solid;
  background-color: darkgray;
}

.chapa {
  position: relative;
  text-align: center;
  font-size: 20px;
  background-color: aliceblue;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.presupuesto {
  color: darkgray;
  text-align: start;
}

.beneficios {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: darkgray;
  text-align: center;
  text-justify: auto;
  border: solid;
  border-color: blue;
}

.prices {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.anchor {
  color: white;
}

.accedetail {
  border: solid;
  background-color: aliceblue;
}

.accedetail__title {
  background-color: darkgray;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.scam {
  margin-left: 28%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info {
  background-color: aquamarine;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-anchor: start;
}

.form {
  border: solid;
  margin-right: 40%;
  margin-left: 35%;
  margin-bottom: 20px;
  background-color: lightgrey;
}

.main__subtitle {
  position: relative;
  background-color: lightgrey;
}

.acceimg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: dense;
  gap: 10px;
}

.imgfedpat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 10px 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.workingman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  width: 50%;
}

.workingguy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30%;
  width: 37%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .imagen--maverick {
    width: 200px;
    height: 100px;
  }
  .imagen--titular {
    size: 25px;
    bottom: 15px;
    left: 250px;
  }
  .mediaq {
    width: 200px;
    height: 300px;
  }
  .maps {
    width: 373px;
    height: 350px;
  }
  .mecanico {
    width: 300px;
    height: 250px;
  }
  .Servicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
  }
  .logoseg {
    width: 150px;
    height: 100px;
  }
  .publi {
    width: 250px;
    height: 150px;
  }
  .imgfedpat {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .workingman {
    width: 350px;
    height: 200px;
    margin-left: 0%;
  }

  .acceimg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: dense;
    gap: 10px;
  }
  .scam {
    margin-left: 13px;
    width: 350px;
    height: 200px;
  }
  .workingguy {
    margin-left: 10px;
    width: 350px;
    height: 230px;
  }
  .form {
    margin-right: 15%;
    margin-left: 15%;
  }
  .servicios {
    font-size: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 10px 10px;
  }
  .servicios__detalle {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */