/* Variables*/

$color:  cadetblue;

$estilos: (
  color: #3673D9,
  centro: center
);


.gradient{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(128deg, rgba(255,255,255,1) 27%, rgba(178,179,255,1) 52%, rgba(0,1,255,1) 97%);
    background: -webkit-linear-gradient(128deg, rgba(255,255,255,1) 27%, rgba(178,179,255,1) 52%, rgba(0,1,255,1) 97%);
    background: linear-gradient(128deg, rgba(255,255,255,1) 27%, rgba(178,179,255,1) 52%, rgba(0,1,255,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0001ff",GradientType=1);
}


.h1{
   font-family: Arial, Helvetica, sans-serif;
    
}

.h2ok{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: 1rem;
    color: white;
}


.inline{
    display: flex;
    position: sticky;
}







.imagen{
    position: relative;

    &--titular{
        position: absolute;
        bottom: 15px;
        left: 300px;
    }

    
    }
   


.text-center{

    text-align: center;
}



.aside{
    background-color: $color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}