.header__item{
    list-style: none;
    color: aliceblue;

    
.header__menu{ 

    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
}

