

@media screen and (max-width: 768px) {

    .imagen--maverick{
        width: 200px; height: 100px;
      
    } 
    .imagen--titular{
    
        size: 25px;
        bottom: 15px;
        left: 250px;
    }


.mediaq{
    width: 200px;
    height: 300px;
}


    .maps{
       width: 364px; height: 350px;
    }

  .mecanico{
      width: 300px; height: 250px;
  }
  .Servicios{
    display: grid; 
   
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
}

.logoseg{
    width: 150px; height: 100px;
}

.publi{
    width: 250px; height: 150px;
}

.imgfedpat{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    justify-self: center;
}

.workingman{
    width: 350px; height: 200px;
    margin-left: 0%;
}

.acceimg{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    gap: 10px 10px; 
    grid-auto-flow: dense;
    gap: 10px;
}
.scam{
    margin-left: 13px;
    width: 350px; height: 200px;
}
.workingguy{
    margin-left: 10px;
    width: 350px; height: 230px;
}

.form{
    margin-right: 15%;
    margin-left: 15%;
}


.servicios{
    font-size: 12px;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    gap: 10px 10px; 
}
.servicios__detalle{
    font-size: 15px;

}
}

